body {
  font-family: Arial;
  background: #ffeef5;
  text-align: center;
}

h1 {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

h3 {
  margin: 10px 0;
}

p {
  font-weight: bold;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}